<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<dict>
		<key>image</key>
		<string>ic_back_chevron</string>
	</dict>
	<key>1001</key>
	<dict>
		<key>image</key>
		<string>ic_more</string>
	</dict>
	<key>1002</key>
	<dict>
		<key>image</key>
		<string>ic_more_white</string>
	</dict>
	<key>1003</key>
	<dict>
		<key>image</key>
		<string>ic_back_arrow_white</string>
	</dict>
</dict>
</plist>
